
.grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4,50px);
        grid-gap: 10px;
    }

.grid div {
    width: 50px;
    height: 50px;
    background-color: gray;
}

div:nth-child(n+21){
    background-color: blue;
}
div:nth-child(4n-1) {
    background-color: red;
}

.button {
    background: #44D3A8;
    border-radius: 100px;
    border: none;
    width: 501px;
    height: 92px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;   
    }

.button:hover {
        background-color: #63b7b7;
        color: white;
}

div {
    display: flex;
    justify-content: center;
}

.button_div {
    margin-top: 20px;
}

.button_div::before {
    content: '';
    width: 200px;
    height: 10px;
    margin-right: 46px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    align-self: center;   
}

.button_div::after {
    content: '';
    width: 200px;
    height: 10px;
    margin-left: 46px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    align-self: center;   
}

