body {
    max-width: 1440px;
    margin: 0;
}

.introduction {
background-color: #F4F6F9;   
background-image: url(./images/Group\ 10.svg);
background-position: right;
background-repeat: no-repeat;
height: 665px;
padding-top: 4%;
padding-left: 12%;
}

.main_inform {
    display: grid;
    width: 46%;

}
.sports {
    font-family: 'PT Sans';
    color: #5282F0;
    font-size: 24px;
    letter-spacing: -0.02em;

}

.slogan {
font-family: 'Lato';
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
color: #333333;
margin-top: 130px;
margin-bottom: 30px;
}

.status {
font-family: 'Lato';
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4F4F4F;
margin-top: 0;
margin-bottom: 50px;

}

.app_store {
    background-color: black;
    border-radius: 7.33503px;
    color: white;
    display: flex;
    justify-content: space-around;
   width: 156px;
   text-align: start;
   margin-right: 35px;

}

.app_store p {
    margin: 0px;
    font-family: 'Roboto';
font-weight: 400;
font-size: 10px;
color: white;


}

.app_store h1 {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Roboto';
font-weight: 500;
font-size: 21px;
color: #FFFFFF;

}

.app_store h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    margin: 0;
    color: #FFFFFF;
    
    }

.app_store span {
font-family: 'Roboto';
font-weight: 300;
font-size: 17.6041px;
color: #FFFFFF;
margin-left: 5px;

}

.google {
    display: flex;
    justify-content: space-between;

}

.app_buttons {
    display: flex;

}

.app_store:hover {
    cursor: pointer;
}

.app_store:active {
    background-color: #d4d4d460;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
  

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.video_view {
    display: grid;
    grid-template-columns: repeat(2,45%);
   position: relative;
   z-index: -1;
  
   background-image:  linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255/ 0%),rgba(255, 255, 255, 0.87), rgb(255 255 255)), url(./images/Rectangle\ \(3\).svg);
   background-repeat: no-repeat;
   background-size: 55%;
   padding-top: 7%;
   padding-bottom: 10%;
}


.match {
    width: 48%;
    font-family: 'Lato';
}


.translation {
    position: absolute;
    z-index: 0;
    top: 280px;
    left: 190px;
}
.white_box {
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 80% 20%;
    z-index: 1;
    position: absolute;
}


.scedule {
    padding: 10px;
    color: #4F4F4F;
    font-family: 'Lato';
font-weight: 700;
font-size: 16.7833px;
}


.turn_match {
background: #EEEEEE;
font-family: 'Lato';
font-weight: 400;
font-size: 18.8812px;
color: #4F4F4F;
margin: 0;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
grid-column: 1/3;
padding: 10px;
}

.turn_match p {
    margin-right: 10px;
}
.comands {
    position: relative;
    display: flex;
    align-items: center;
   padding: 10px;
    
}

.behind_box {
    padding-left: 20%;
    padding-top: 2%;
}



.chelsi {
    position: absolute;
    z-index: 2;
   right: 10px;

}



.football_experiense p {
font-family: 'Lato';
font-weight: 700;
font-size: 16px;
color: #00ADEE;
margin-bottom: 7%;

}
.football_experiense h3 {

font-family: 'Lato';
margin-bottom: 7%;
font-weight: 700;
font-size: 28px;
color: #333333;
}

.football_experiense article {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #4F4F4F;
margin-right: 30%;
margin-bottom: 6%;
}

.football_experiense button {
font-family: 'Lato';
font-weight: 700;
font-size: 16px;
color: #00ADEE;
border: none;
background: none;
}

.football_experiense button:hover {
    cursor: pointer;
}

.football_experiense button:active {
    
    color: #333333;
}

.interface {
   display: flex;
   justify-content: space-around;
    padding-left: 10%;
    align-items: center;
    position: relative;
}

.mobile_phone {
    position: absolute;
    z-index: -1;
}

.get_started {
    padding-top: 20%;
}
.interface p {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: #00ADEE;
    margin: 0;
    margin-bottom: 3%;
    
    }
    .interface h3 {
    
    font-family: 'Lato';
    margin: 0;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 28px;
    color: #333333;
    }
    
    .interface article {
        font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    text-align: left;
    margin-bottom: 3%;
    width: 45%;
    }
    
    .interface button {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: #00ADEE;
    border: none;
    background: none;
    margin-bottom: 10%;
    }

    .interface button:hover {
        cursor: pointer;
    }

    .interface button:active {
        
        color: #333333;
    }

    .features {
        background-color: #00ADEE;
        background-image: url(./images/Group\ 695.svg);
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3% 12%;

    }

    .features h3 {
        font-family: 'Lato';
    font-weight: 700;
    font-size: 28px;
    color: white;
    margin-bottom: 5%;


    }
    .features_example {
        color: white;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 16px;
        display: grid;
        gap: 30px;
        grid-column-gap: 70px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .reviews {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .reviews h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #333333;
        margin: 5% 0;
        
    }

    .scroll {
        display: flex;
        gap: 36px;
        width: 1440px;
    }

    .scroll div {
        width: 20%;
        border: 1px solid #828282;
        border-radius: 4px;
        padding: 15px;
    }

    .scroll h6 {
        font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #333333;
margin: 0;
padding-bottom: 3%;
    }

    .gradient {
        position: relative;
    }

    .gradient:after {
        position: absolute;
        bottom: 0;  
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to right, rgb(255 255 255 / 68%) 20%, rgb(255 255 255 / 0%) 80% );
      }


      .gradient2 {
        position: relative;
    }

    .right_direction {
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50% ;
        padding: 6px 10px;
        border: 2px solid #00ADEE;
        top: 60px;
    z-index: 2;
    right: 10px;
    }


    .left_direction {
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50% ;
        padding: 6px 10px;
        border: 2px solid #00ADEE;
        top: 60px;
    z-index: 2;
   left: 10px;
    }


    .left_direction:active {
        background-color: #d4d4d460;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      
    }

.left_direction:hover {
    cursor: pointer;
}
    .right_direction:active {
        background-color: #d4d4d460;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      
    }
   
    .right_direction:hover {
        cursor: pointer;
    }
    .gradient2:after {
        position: absolute;
        bottom: 0;  
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to left, rgb(255 255 255 / 68%) 20%, rgb(255 255 255 / 0%) 80% );
      }
    .noah h6:before  {
        content: url(./images/Ellipse.svg);
        margin-right: 2%;
    }

    .noah h6:after  {
        content: url(./images/twitter.svg);
        margin-left: 25%;
    }
    .darren h6:before  {
        content: url(./images/Ellipse\ \(1\).svg);
        margin-right: 2%;
    }

    .darren h6:after  {
        content: url(./images/twitter.svg);
        margin-left: 20%;
    }
    .michael h6:before  {
        content: url(./images/Ellipse\ \(2\).svg);
        margin-right: 2%;
    }

    .michael h6:after  {
        content: url(./images/twitter.svg);
        margin-left: 18%;
    }
.darren button {
    display: none;
}
    .scroll p {
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #4F4F4F;
margin: 0;
    }

    .reviews img {
        margin: 4% 0;
    }

    .chanels {
        background-color: #FAFAFA;
        padding: 3% 12%;
    
    }

 
    
    .chanels h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #333333;
        text-align: center;

    }
    
    .chanels_count {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
      
    }
    .chanels_count img:hover {
        cursor: pointer;
        opacity: 0.5;
    }

 .my_scores_section {
    display: flex;
    justify-content: space-between;
    gap: 5%;
 }

 
 .scores h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #333333;
    margin-top: 15%;
    margin-bottom: 7%;
 }

 .more_teams {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    margin-right: 22%;
    margin-bottom: 7%;
 }

 .footer {
    background-color: #00ADEE;
    display: flex;
    justify-content: space-between;
    padding: 4% 12%;
  
 }

 .footer a {
    text-decoration: none;
    color: white;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
margin-right: 20px;
 }


.sports {
    margin-top: 10%;
}

 .download {
margin: 10% 0;
 }


 

 @media screen and (max-width:720px) {
    .introduction {
        margin-top: 1%;
        background-image: none;   
        padding:10% 0;
       
        height: auto;
    }
    .main_inform {
        width: 100%;
        text-align: center;
    }

    .app_buttons {
        justify-content: space-around;
    }
    .app_store {
        margin-right: 0;
    }

    .video_view {
        display: grid;
        grid-template-rows:  1fr 1.2fr;
        grid-template-columns: 1fr;
        background-image: none;
        margin-bottom: 0;
    }

    .left_side {
        z-index: 1;
        position: unset;
        grid-row-start: 2;
        background-image:   linear-gradient(to top, rgb(255 255 255 / 0%), rgb(255 255 255/ 0%),rgba(255, 255, 255, 0.87), rgb(255 255 255)), url(./images/Rectangle\ \(3\).svg);
        background-repeat: no-repeat;
    }
    .football_experiense {
        z-index: 1;
        position: unset;
        grid-row-start: 1;
        text-align: center;
        margin-bottom: 10%;

    }

    .football_experiense article {
        margin: 2% 10%;
    }
    .behind_box {
        z-index: 1;
        position: unset;
        padding: 3%;
    }
.translation {
    left: auto;
    right: 5%;
    top: 70%;
}

    .interface {
        flex-direction: column;
        padding: 5% 4%;
        position: unset;
    }
    
    .interface p {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .interface h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .interface article {
        width: 100%;
        text-align: center;
    }

    .interface button {
        margin-top: 5%;
        width: 100%;
        text-align: center;
    }
    .get_started {
        padding: 0;
    }


    .mobile_phone {
        width: 100%;
     
        position: unset;
    }
    .mobile_phone img {
        width: 1200px;
        margin-left: -600px;

      
    }

    .features {
        padding: 5% 3%;
        width: 100%;
        text-align: center;
    }
    .features_example {
        grid-template-columns: 95%;
        justify-content: center;
    }

    .reviews {
        padding: 10% 2%;
    }

    .scroll {
        padding: 10% 0;
        justify-content: center;
        height: 150px;

    }
   .michael {
    display: none;
   }

   .noah {
    display: none;
   }
   .gradient {
    display: none;
    
   }
   .gradient2 {
    display: none;
   }
 .darren {
    position: relative;
    
 }
   .darren button {
    position: absolute;
    z-index: 2;
    display: block;
    right: -20px;
   }
   
   .chanels {
    padding: 10% 0;
   }
    .chanels_count {
     grid-template-columns: repeat(6,auto);
     grid-template-rows: auto auto auto;
     align-items: center;
     justify-content: space-between;
     justify-items: center;
     gap: 20px;
    }

    .first_sp {

        grid-column-end: span 3;
    }
    .second_sp {
        grid-column-end: span 3;
    }
    .sp3 {
        grid-column-end: span 2;
    }
    .sp4 {
        grid-column-end: span 2;
    }
    .sp5 {
        grid-column-end: span 2;
    }
    .sp6 {
        grid-column-end: span 6;
    }
    .my_scores_section {
        display: flex;
        flex-direction: column-reverse;
    }
    .background img{
        width: 100%;
    }
    .scores {
        text-align: center;

    }
    .more_teams  {
        text-align: center;
        margin-right: 0;
        padding: 10px;
    }
    .app_buttons {
        margin-bottom: 10%;
    }
    .footer {
        flex-direction: column;
        padding: 0 5% ;
    }
    .social_media {
        margin-top: 2%;
    }
    .download {
        display: flex;
        justify-content: space-between;
        order: 3;
    }
   }
